version: "3.8"
services:
  app:
    build:
      context: .
      target: builder
    environment:
      NODE_ENV: development
      PORT: 8100
      DATABASE: mongodb://mongo:27017/tallie
    env_file:
      - .env
      - .env.local
    ports:
      - "8100:8100"
    volumes:
      - ./:/usr/src/app:cached
      - /usr/src/app/node_modules
    command: ["sh", "-c", "npm run start:local"]
    depends_on:
      - mongo
